@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');

body {
    background-color: rgb(239, 255, 255);
    color: #2b1f21;
    font-family: 'Zilla Slab', serif;
    font-size: 2.5vmin;
  }

.title-font {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.main-title {
  font-size: 7vw;
}

.sub-title {
  font-size: 5vw;
}

.nav-title {
  font-size: 4vmin;
}

nav {
  background-color:mistyrose;
  font-family: 'Zilla Slab', serif;
}

.box-wrap {
  margin: 10px;
  border-bottom: 5px #2b1f21 solid;
  border-radius: 5px;
}

.text-center img {
  width: 100%;
  border: 10px mistyrose solid;
  border-radius: 10px;
}

.custom-btn {
  background-color: mistyrose;
  font-weight: 600;
  border-radius: 40px;
  font-size: 4.5vmin;
  border: 4px mistyrose solid;
  text-shadow: 2px 2px pink;
}

.custom-btn a {
  -webkit-tap-highlight-color: transparent;
  color:#2b1f21;
  text-decoration: none;
}

.sub-custom-btn {
  background-color: mistyrose;
  font-weight: 500;
  border-radius: 40px;
  font-size: 2.5vmin;
  border: 4px mistyrose solid;
  text-shadow: 2px 2px pink;
  border: 4px mistyrose solid;    
}

.sub-custom-btn:hover {
  border: 4px pink solid;
  }
  

.sub-custom-btn a {
  -webkit-tap-highlight-color: transparent;
  color:#2b1f21;
  text-decoration: none;
}

/* main photo tag */

.relative-tag {
  position: relative;
}

.bottomright {
  background-color: rgba(247, 184, 215, 0.459);
  position: absolute;
  padding: 0px 3px;
  right: 16px;
  bottom: 16px;
  border-radius: 4px;
  line-height: 1;
}

.bottomright span {
  font-size:0.9vmax;
  font-weight: 400;
}


.custom-btn:hover {
  border: 4px pink solid;
}

footer {
  padding: 3em;
}

footer .fab {
  font-size: 6vmin;
  color: mistyrose;
  text-shadow: 2px 2px pink;
}


/* styles for index.html */

.bodywork {
  max-height: min-content;
}


/* Gallery CSS files */

#photos {
  clear: both;
  line-height: 0;
  column-count: 1;
  column-gap: 0;
}

#photos img {
  width: 100%;
  border: 10px mistyrose solid;
  border-radius: 10px;
}

.bottomright-gal {
  background-color: rgba(247, 184, 215, 0.459);
  position: absolute;
  padding: 3px;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  line-height: 1;
}

.bottomright span {
  font-size:0.9vmax;
  font-weight: 400;
}

.custom-site-btn {
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.4vmax;
  line-height: 1;
}

.custom-site-btn a {
  -webkit-tap-highlight-color: transparent;
  color:#2b1f21;
  text-decoration: none;
}

.edit-but {
  background-color:darkseagreen;
  border: 4px darkseagreen solid;
}

.del-but {
  background-color:palevioletred;
  border: 4px palevioletred solid;
}

.custom-site-btn:hover {
border: 4px pink solid;
}

.text-wrap {
  font-size: 1.4vmax;
  word-break: normal;
}

.no-padding {
  padding: 0;
}

.booking-box {
  border: 3px mistyrose solid;
  border-radius: 5px;
}

.pag-page-btn {
  background-color: mistyrose;
  border-radius: 4px;
  border: 4px mistyrose solid;
  color: #2b1f21;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
  font-size: 2.5vmin;
}

.pag-page-btn:hover {
  background-color:  mistyrose;
  border: 4px pink solid;
}

