@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Base Content */
body {
    background-color: rgb(239, 255, 255);
    color: #2b1f21;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3em;
}

.title-font {
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.contact-holder {
    text-align: end;
}

.nav-title {
    font-size: 5vmin;
}

nav {
    background-color: mistyrose;
    font-family: 'Zilla Slab', serif;
}

.above-nav {
    background-color: mistyrose;
    font-family: 'Zilla Slab', serif;
}

footer {
    padding: 3em;
}

footer .fab {
    font-size: 8vmin;
    color: mistyrose;
    text-shadow: 2px 2px pink;
}

.font-small {
    font-size: 1.1rem;
}

.extra-padding {
    padding: 0px 15px;
}

.padding-top {
    padding-top: 7px;
}

nav li a {
    font-size: 1.5rem;
}

/* Template content */
.main-title {
    font-size: 8vw;
}

.sub-title {
    font-size: 7vw;
}

.smaller-sub-title {
    font-size: 5vw;
}

.box-wrap {
    margin: 10px;
    border-bottom: 4px #2b1f21 solid;
    border-radius: 4px;
}

.opps-text {
    font-size: 5vw;
}

/* Slogon fixer */
.slogon {
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 1.6rem;
    color: black;
}

/* Table fixes */
table {
    table-layout: fixed;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* button styles */
.custom-btn {
    background-color: mistyrose;
    font-weight: 600;
    border-radius: 40px;
    font-size: 4.5vmin;
    border: 4px mistyrose solid;
    text-shadow: 2px 2px pink;
}

.custom-btn:hover {
    border: 4px pink solid;
}

.btn-remove-blue {
    -webkit-tap-highlight-color: transparent;
    color: #2b1f21;
    text-decoration: none;
}

.btn-remove-blue:hover,
.btn-remove-blue:focus,
.btn-remove-blue:active {
    text-decoration: none;
    color: inherit;
}

.sub-custom-btn {
    background-color: mistyrose;
    font-weight: 500;
    border-radius: 40px;
    border: 4px mistyrose solid;
    text-shadow: 2px 2px pink;
    border: 4px mistyrose solid;
    font-size: 1.3rem;
}

.sub-custom-btn:hover {
    border: 4px pink solid;
}

.custom-site-btn {
    border-radius: 5px;
    line-height: 1;
    border: 4px pink solid;
}

.edit-but {
    background-color: lightblue;
    border: 4px lightblue solid;
    padding: 3px 8px;
}

.edit-but:hover {
    border: 4px pink solid;
}

.del-but {
    background-color: lightcoral;
    border: 4px lightcoral solid;
    padding: 3px 8px;
}

.del-but:hover {
    border: 4px pink solid;
}

.pag-page-btn {
    background-color: mistyrose;
    border-radius: 4px;
    border: 4px mistyrose solid;
    color: #2b1f21;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3rem;
    margin: 3px 3px;
}

.pag-page-btn:hover {
    background-color: mistyrose;
    border: 4px pink solid;
    color: #2b1f21;
}

.center-button {
    font-size: 1.1em;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

/* index Photo tag styles */
.text-center img {
    width: 100%;
    border: 8px mistyrose solid;
    border-radius: 8px;
}

.relative-tag {
    position: relative;
}

.bottomright {
    background-color: rgba(247, 184, 215, 0.459);
    position: absolute;
    padding: 0px 3px;
    right: 16px;
    bottom: 16px;
    border-radius: 4px;
    line-height: 1;
}

.bottomright span {
    font-size: 1.4vh;
    height: auto;
}

/* styles for index.html */
.bodywork {
    max-height: min-content;
}

/* Gallery CSS files */
.photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0;
}

.photos img {
    width: 100%;
    border: 8px mistyrose solid;
    border-radius: 8px;
}

/* tidying css styles */
.text-wrap {
    word-break: normal;
}

.no-padding {
    padding: 0;
}

.booking-box {
    border: 3px mistyrose solid;
    border-radius: 5px;
}

.spacer-1 {
    font-style: oblique;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: end;
}

.spacer-2 {
    font-style: italic;
    margin-bottom: 6px;
}

.row {
    margin-bottom: 3px;
}

/* Modal Custom styles */
.modal-dialog {}

.modal-text {
    font-size: 1.2rem;
}

.modal-custom-size {
    size: 1000px 750px;
}

.modal-content {
    background-color: aliceblue;
    border: 6px pink solid;
}

.delete-booking-form {
    line-height: 1.3;
}

.delete-box {
    height: fit-content;
}

.delete-box-top-margin {
    margin-top: 20px;
}

.delete-box-bottom-margin {
    margin-bottom: 20px;
}

.line-height-setter {
    line-height: 1.3;
    margin: 0 4px;
}

.screen-container {
    min-height: 40vh;
}

/* large devices (landscape phones, 1100px and up) */
@media (max-width: 1166px) {
    nav li a {
        font-size: 1.2rem;
    }

    .nav-title {
        font-size: 4vw;
    }

    .contact-holder {
        font-size: 1.1rem;
    }

    .slogon {
        font-size: 1.4rem;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .contact-holder {
        font-size: 1.0rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
    body {
        font-size: 1.1em;
    }

    .contact-holder {
        text-align: center;
    }

    .nav-title {
        font-size: 9vmin;
    }

    .sub-title {
        font-size: 8vm;
    }

    .slogon {
        font-size: 1.4rem;
    }

    .spacer-1 {
        text-align: center;
    }

    .spacer-2 {
        text-align: center;
    }

    .bottomright {
        word-wrap: break-word;
        width: max-content;
        font-size: 2vh;
    }

    .opps-text {
        font-size: 2rem;
    }

    .relative-tag img {
        border: 5px mistyrose solid;
    }

    table {
        font-size: 0.8rem;
        padding: 2px;
        line-height: 1;
    }

    .td-name {
        overflow: visible;
        word-wrap: normal;
        padding-left: 0px;
    }

    .td-price {
        align-items: flex-end;
        justify-content: flex-end
    }

    td {
        padding-right: 0px;
    }

}

@media (max-width: 368px) {
    .bottomright {
        width: 200px;
        text-align: center;
        font-size: small;
    }

    .contact-holder {
        font-size: 0.9rem;
    }

    .opps-text {
        font-size: 2rem;
    }
}