<!-- This is the admin booking form page HTML template -->

{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!--code to determine if viewer is staff to have accesss to this form and not just a normal user-->
{% if user.is_authenticated and user.is_staff %}

<!--Page Title-->
<br>
<div class="container">
    <div class="box-wrap">
        <h1 class="center-text title-font smaller-sub-title">Admin Booking</h1>
    </div>
</div>
<br>
<!--Booking Form Box-->
<div class="container booking-box">
    <br>
    <div class="container booking-form-font-size">
        <div class="row">
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-lg-8">
                <!--Admin Booking Form-->
                <form method="POST">
                    {{ admin_booking_form | crispy }}
                    <div class="text-center">
                        <h2>Administrator Submit Booking:</h2>
                    </div>
                    <br>
                    {% csrf_token %}
                    {% crispy form %}

                </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br>
    </div>
    <div class="col-sm-2"></div>
</div>
<br>
<br>
<!--Return to Admin Planner Button-->
<div class="container g-0">
    <div class="text-center">
        <a class="custom-site-btn btn-remove-blue edit-but" href="{% url 'admin-bookings' %}">Return to Admin</a>
    </div>
</div>
<br>
<br>

{% endif %}

{% endblock %}