{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-8">
            <form method="POST" action="add">
                {% crispy | form %}

                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <p>
                        <button type="submit">Add Booking</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}