{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <div class="box-wrap">
        <h1 class="center-text title-font sub-title">Booking Details</h1>
    </div>
</div>
<br>
<div class="col-sm-3 d-inline-block"></div>
<div class="container col-sm-6 booking-box d-inline-block">
    <br>
    <section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Booking made by:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.user }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Booking ID:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.booking_id }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Telephone No:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.contact_no }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Email Address:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.email }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Treatment:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.get_treatment_display }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Appointment Date:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.appointment_date }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Appointment Time:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.get_appointment_slot_display }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Address:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.address_line_one }},<br> {{ booking.address_line_two }},<br>
                {{ booking.address_line_three }},<br> {{ booking.city }},<br> {{ booking.post_code }}
            </div>
        </section>
        <section class="row">
            <div class="col-sm-6 spacer-1">
                Additional Information:
            </div>
            <div class="col-sm-6 spacer-2">
                {{ booking.addition_info }}
            </div>
        </section>
        <br>
        <section class="row g-0">
            <div class="col-5"></div>
            <div class="col-sm-2 text-center justify-center-content">
                <a type="button" class="custom-site-btn btn-remove-blue edit-but hvr" href="{% url 'edit-booking' booking.pk %}">Edit</a>
                <a type="button" class="custom-site-btn btn-remove-blue del-but hvr" href="{% url 'delete-booking' booking.pk %}">Delete</a>
                <div class="col-2"></div>
        </section>
        <br>
    </section>
</div>
<div class="col-sm-2 d-inline-block"></div>
<br>
<br>
<div class="container">
    <div class="row g-0">
        <div class="col-sm-12 text-center">
            <a class="btn-lg text-center light sub-custom-btn btn-remove-blue hvr-pulse" href="{% url 'bookings' %}">Back to Bookings</a>
        </div>
    </div>
</div>
<br>
<br>

{% endif %}

{% endblock content %}