<!-- This is the cancel booking page HTML template -->

{% extends "base.html" %}

{% load static %}

{% block content %}
<!--Authentication code check to see if user is authenticated to see this view-->
{% if user.is_authenticated or user.is_authenticated and user.is_staff %}

<body>
    <div class="screen-container">
        <div class="container">
            <div class="box-wrap">
                <!--Page Title depending on User-->
                {% if user.username and user.is_staff %}
                <h3 class="center-text title-font sub-title"> Admin Cancel Booking</h3>
                {% else %}
                <h3 class="center-text title-font sub-title">Cancel Booking</h3>
                {% endif %}
            </div>
        </div>
        <br>
        <!-- Cancel booking body -->
        <div class="col-sm-3"></div>
        <div class="container col-sm-6 booking-box">
            <div class="row g-0">
                <div class="text-center">
                    <div class=" text-center delete-box-top-margin">
                        <h3>Cancel Booking</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <p> Hi {{ user.username }} </p>
                        <br>
                        <br>
                        <p>Are you sure you wish to cancel this booking?</p>
                    </div>
                    <div class="container d-inline-flex justify-content-center delete-box-bottom-margin">
                        {% if user.username and user.is_staff %}
                        <!--Buttons determined by user-->
                        <a class="custom-site-btn line-height-setter btn-remove-blue nul-but nul-hvr" href="{% url 'admin-bookings' %}">Return</a>
                        {% else %}
                        <a class="custom-site-btn line-height-setter btn-remove-blue nul-but nul-hvr" href="{% url 'view-booking' booking.pk %}">Return</a>
                        {% endif %}
                        <!-- Cancel booking forms determined by user -->
                        {% if user.username and user.is_staff %}
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.cancelled.is_ | safe }}
                            {{form.cancelled}}
                            <input type="submit" name="Submit" value="Cancel Booking" class="custom-site-btn line-height-setter del-but" />
                        </form>
                        {% else %}
                        <form method="POST" action="{% url 'cancel-booking' booking.pk %}">
                            {% csrf_token %}
                            {{ form.cancelled.is_ | safe }}
                            {{form.cancelled}}
                            <input type="submit" name="Submit" value="Cancel Booking" class="custom-site-btn line-height-setter del-but" />
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endif %}

{% endblock %}