{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="box-wrap">
        <h1 class="center-text title-font sub-title">Contact</h1>
    </div>
</div>
<div class="bodywork">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10">
                <br>
                <p>BeBeauty is a small independant mobile salon that operates in the North London area. As a mobile
                    beauty salon, we make it our mission to make sure the customer is happy so before our meeting we
                    will call you to make you feel relaxed and comfortable about your appointment and what we will do on
                    the day of your appointment.
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row contact-padding">
            <div class="col-md-4 extra-padding font-small">
                <h1 class="text-start"><b>London</b></h1>
                <p>BeBeauty Ltd.<br>1 Hickery Drive<br>Arnos Grove<br>London<br>N14 3PL</p>
                <br>
                <h3><b>Opening Hours</b></h3>
                <p>Our working hours are stated below:</p>
                <div class="row font-small">
                    <div class="col-6">Monday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Tuesday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Wednesday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Thursday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Friday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Saturday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <div class="row">
                    <div class="col-6">Sunday</div>
                    <div class="col-6 text-center">9:00a.m. - 8:00p.m.</div>
                </div>
                <p>Bank Holidays - closed</p>
            </div>
            <div class="col-md-4 extra-padding font-small">
                <h3><b>Payment</b></h3>
                <p>We accept cash and card payments</p>
                <br>
                <h3><b>Our Policy</b></h3>
                <p>Failure to attend an individuals first appointment will not incur a penalty charge, after a second
                    missed appointment then the customer will be charged for failing to show up providing the booking
                    has not been cancelled 1 day before the attended appointment date.</p>
                <p>We attain the right to reject bookings outside our are code if the work is too far away. We will
                    notify you immediately if this happens to be the case.</p>
            </div>
            <div class="col-md-4 extra-padding font-small">
                <h3><b>Parking</b></h3>
                <p>Whenever one of our staff has to drive to the location of the attended appointment and there is
                    either parking and congestion charge fees, we charge the customer according to the charges our
                    staff have had to pay.</p>
                <br>
                <h3><b>Contact Details</b></h3>
                <p> If you have any general enquires, please feel free to contact us on by one of the following methods.
                    Thank you.</p>
                <div class="row">
                    <div class="col-6">Tel:</div>
                    <div class="col-6 text-end">+44 7833 555 323</div>
                </div>
                <div class="row">
                    <div class="col-6">Email:</div>
                    <div class="col-6 text-end text-break">inf0@BeBeauty.co.uk</div>
                </div>
                <div class="row">
                    <div class="col-6">Fax:</div>
                    <div class="col-6 text-end">+44 208 888 323</div>
                </div>
                <div class="row">
                    <div class="col-6">Facebook:</div>
                    <div class="col-6 text-end"><a href="#">BeBeauty</a></div>
                </div>
                <div class="row">
                    <div class="col-6">Twitter:</div>
                    <div class="col-6 text-end"><a href="#">BeBeautyUK</a></div>
                </div>
                <div class="row">
                    <div class="col-6">Instagram:</div>
                    <div class="col-6 text-end"><a href="#">BeBeautyUK</a></div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock content %}