<!-- Modal -->
<!-- Modal
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Delete Booking</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to cancel your booking?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn custom-site-btn edit-but" data-bs-dismiss="modal">Close</button>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Delete Booking" class="btn custom-site-btn del-but">
                    </form>
                </div>
            </div>
        </div>
    </div> -->



<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="staticBackdropLabel">Delete Booking</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to cancel your booking?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn custom-site-btn edit-but"><a href="{% url 'bookings' %}">Close</a></button>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete Booking" class="btn custom-site-btn del-but">
            </form>
        </div>
    </div>
</div>
</div> -->

<!-- <button class="custom-site-btn del-but hvr" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button> -->