{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">

    <div class="box-wrap">
        <h1 class="center-text title-font sub-title">Gallery</h1>
    </div>
</div>
<!--Text Body-->
<div class="bodywork">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center">
                <br>
                <p>Welcome to our online gallery, here you can see photos of our happy customers looking absouloutely
                    goregous.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-sm-8 photos">
            <div class="relative-tag">
                <img src="{% static 'images/IMG_9907.jpg' %}" alt="Wedding hair and make-up">
                <div class="bottomright"><span>"Wedding make-up and Hair"</span></div>
            </div>
            <hr>
            <div class="relative-tag">
                <img src="{% static 'images/dreamstimefree_1709974.jpg' %}" alt="lady in black dress with make-up">
                <div class="bottomright"><span>"1709974 © Laura Bulau | Dreamstime.com"</span></div>
            </div>
            <hr>
            <div class="relative-tag">
                <img src="{% static 'images/dreamstimefree_2255973.jpg' %}" alt="lady looking into mirror doing her make-up">
                <div class="bottomright"><span>"2255973 © Evan Haveman | Dreamstime.com"</span></div>
            </div>
            <hr>
            <div class="relative-tag">
                <img src="{% static 'images/dreamstimefree_18055371.jpg' %}" alt="blue nails and make-up photo">
                <div class="bottomright"><span>"18055371 © Elena1110 | Dreamstime.com"</span></div>
            </div>
            <hr>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<br>
<!--booking button-->
<div class="container_fluid">
    <div class="justify-content-center text-center ">
        <a type="button" class="btn-lg light custom-btn hvr-pulse btn-remove-blue" href="{% url 'booking' %}">Book
            now</a>
    </div>
</div>
<br>
<br>

{% endblock %}