{% extends 'base.html' %}

{% load static %}

{% block content %}


<div class="text-center">
    <div class="box-wrap">
        <br>
        <h1 class="center-text title-font opps-text">Oops</h1>
    </div>
</div>
<br>
</div>
<div class="text-center">
    <p>
        Sorry, an error has occured, you may not be signed in to view your booking or the booking doesn't exist.
    </p>
    <br>
    <p>
        To view your booking you need to <b>sign in</b>
    </p>
</div>
<div class="text-center">
    <a class="btn custom-site-btn pag-page-btn" href="{% url 'account_login'  %}">Sign In</a>
</div>
<br>

{% endblock content %}