{% extends "base.html" %}

{% block content %}

<!-- Title -->
<div class="container">
    <div class="row">
        <div class="box-wrap">
            <h1 class="col center-text title-font main-title">BeBeauty</h1>
        </div>
    </div>
</div>


<div class="bodywork">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 text-center">
                <br>
                <p>Welcome to BeBeauty, We are a mobile, door to door make-up studio that prides ourselves in delivering high quality services for your make-up needs.</p>
                <br>
                <div class="relative-tag">
                    <img src="../static/images/dreamstimefree_17509718.jpg" alt="Photo Of make-up brush">
                    <div class="bottomright"><span>17509718 © Avdeenko | Dreamstime.com"</span></div>
                </div>
                <br>
                <p>We are based in North London and are an extremely Professional company that gives the very best to our clients, we want you to feel <i>Beautiful!</i>
                    So don't be afraid, book an appointment with us today! You will not regret it, you will look fabulous. x</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <br>
    <br>
    <div class="container_fluid">
        <div class="justify-content-center text-center ">    
            <button type="button" class="btn btn-lg light custom-btn hvr-pulse button" on><a href="{% url 'create_booking' %}">Book now!</a></button>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}