{% extends 'base.html' %}

{% load static %}

{% block content %}



<div class="container">
    <div class="box-wrap">
        <h1 class="col center-text title-font sub-title">Price List</h1>
    </div>
</div>
<br>
<div class="container booking-box">
    <br>
    <div class="bodywork">
        <div class="container">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-md-10 g-0">
                    <br>
                    <h2><u><b>Treatments</b></u></h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for treatment in treatments %}
                            {% include 'treatment-price.html' %}
                            <tr>
                                <td>{{ treatment.get_treatment_type_display }}</td>
                                <td class="td-name">{{ treatment.treatment_name }}</td>
                                <td class="td-price">£{{ treatment.treatment_price }}</td>
                                <td>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#treatmentModal{{treatment.pk}}" class="custom-site-btn btn-remove-blue edit-but hvr">More info</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br>
        </div>
    </div>
    <br>
</div>
<br>
<br>
<!--booking button-->
<div class="container_fluid">
    <div class="justify-content-center text-center ">
        <a type="button" class="btn-lg light custom-btn hvr-pulse btn-remove-blue" href="{% url 'booking' %}">Book
            now</a>
    </div>
</div>
<br>
<br>


{% include 'treatment-price.html' %}

{% endblock %}