{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container">
    <div class="box-wrap">
        <h1 class="center-text title-font sub-title">Services</h1>
    </div>
</div>
<!--Text Body-->
<div class="bodywork">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <br>
                <p>We other a range of services designed to help you prepare for any occassion.
                    Our mobile service allows for you to have the best in preperation and take away the
                    stress of going to a beauty salon. We specialize in getting people ready for big
                    occasions. take a look below at the following services we provide below:
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-lg-6 text-start">
                <u>
                    <h2>Make-Up</h2>
                </u>
                <p>We specialize in make up! It is our number one service that people come to us for. Wether you happen
                    to be getting ready for a party or it is perhaps your special day, we offer you our expertize in
                    makeup styling. Our make-up specialists work with the customers recommending colour tones to match
                    their skin complextion and the styling to go with it. We provide a touch up of eyebrows and putting
                    on eyelash extentions. With our 5 years in the industry and ever growing experience, we promise that
                    you will come away looking fantastic!</p>
                <ul class="service-lists">
                    {% for treatment in treatments %}
                    {% if treatment.treatment_type == 1 %}
                    <li>{{ treatment.treatment_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div class="col-lg-4">
                <div class="relative-tag photos">
                    <img src="{% static 'images/pexels-pixabay-247293.jpg' %}" alt="Lady with strong make up and lipstick looking stunning">
                    <div class="bottomright"><span>"pexels-pixabay-247293 © | pexels.com"</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <hr>
            <br>
            <div class="col-sm-1"></div>
            <div class="col-lg-4">
                <div class="relative-tag photos">
                    <img src="{% static 'images/pexels-алекке-блажин-8450375.jpg' %}" alt="Lady recieving a facial massage treatment">
                    <div class="bottomright"><span>"pexels-алекке-блажин-8450375 © | pexels.com"</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-end">
                <u>
                    <h2>Facial</h2>
                </u>
                <p>Wether you have had a long day and are just feeling exhausted or you plan to treat yourself to make
                    your face feel clean, clensed and youthful again. Our facial treatment that we provide will leave
                    you feeling refreshed and rejuvenated. our facial massage and clensing will open up your pours,
                    clean
                    them and leaving them tighten and youthful. It is the ultimate stress realise after staring at a
                    screen all day to really lift your spirit.</p>
                <ul class="service-lists list-right">
                    {% for treatment in treatments %}
                    {% if treatment.treatment_type == 0 %}
                    <li class="item-right">{{ treatment.treatment_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <hr>
            <br>
            <div class="col-sm-1"></div>
            <div class="col-lg-6 text-start">
                <u>
                    <h2>Pedicure</h2>
                </u>
                <p>We offer a wonderful pedicure service that will have your feet gleaming with beauty. It is perfect
                    for removing all that hard dead skin under your feet and once we have done that we will top off your
                    feet in the perfect way by painting those toe nails of yours. Your feet at the end of our session
                    will be smooth, healthy and lush, all ready to go!</p>
                <ul class="service-lists">
                    {% for treatment in treatments %}
                    {% if treatment.treatment_type == 2 %}
                    <li>{{ treatment.treatment_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="relative-tag photos">
                    <img src="{% static 'images/pexels-mikhail-nilov-8670517.jpg' %}" alt="A photo of a pair of feet with nails and styling">
                    <div class="bottomright"><span>"pexels-mikhail-nilov-8670517 © | pexels.com
                            "</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <hr>
            <br>
            <div class="col-sm-1"></div>
            <div class="col-lg-4">
                <div class="relative-tag photos">
                    <img src="{% static 'images/pexels-michelle-leman-6774343.jpg' %}" alt="a lady recieving a manicure with nails being painted in gold">
                    <div class="bottomright"><span>" pexels-michelle-leman-6774343 © | pexels.com
                            "</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-lg-end">
                <u>
                    <h2>Manicure</h2>
                </u>
                <p>Our Manicure service is one of our most loved services. If you want sexy nails, and a quick shaping
                    of your nails, then this is the treatment for you. We offer a wide range of nail style and polish
                    colours. Our Beautician is happy to help advice you with what is the best treatment that will suit
                    your needs. At the end of the session, you will be wanting us to come back regularly.</p>
                <ul class="service-lists list-right">
                    {% for treatment in treatments %}
                    {% if treatment.treatment_type == 3 %}
                    <li class="item-right">
                        <a>{{ treatment.treatment_name }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <hr>
            <br>
            <div class="col-sm-1"></div>
            <div class="col-lg-6 text-start">
                <u>
                    <h2>Hair Styling</h2>
                </u>
                <p>We offer a wide range of treatments, from cutting to colour, blow-drying and hair-styling (with
                    weddings in mind). We have experienced hairdressers that can come out to your home and take the
                    hassle of having to rush to get to your appointment like you would at a normal hair salon and you
                    get to relax from the comfort of your own home. It is a lovely caring service for our clients that
                    is highly recommended by all our customers.</p>
                <ul class="service-lists">
                    {% for treatment in treatments %}
                    {% if treatment.treatment_type == 4 %}
                    <li>{{ treatment.treatment_name }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="relative-tag photos">
                    <img src="{% static 'images/dreamstimefree_1441322.jpg' %}" alt="photo of a lady with her make up and hair looking stunning">
                    <div class="bottomright"><span>"1441322 © Iana Turnaeva | Dreamstime.com"</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <br>
        <!--booking button-->
        <div class="container_fluid">
            <div class="justify-content-center text-center ">
                <a type="button" class="btn-lg light custom-btn hvr-pulse btn-remove-blue" href="{% url 'booking' %}">Book now</a>
            </div>
        </div>
        <br>
        <br>

        {% endblock %}