{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="box-wrap">
        <h1 class="center-text title-font sub-title">Services</h1>
    </div>
</div>
<!--Text Body-->
<div class="bodywork">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
                <br>
                <p>We other a range of services designed to help you prepare for any occassion.
                    Our mobile service allows for you to have the best in preperation and take away the
                    stress of going to a beauty salon. We specialize in getting people ready for big
                    occasions. take a look below at the following services we provide below:
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-start"><u>
                    <h2>Make-Up</h2>
                </u></div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 text-start">
                <p>some text here</p>
            </div>
            <div class="col-sm-4">
                <div class="relative-tag">
                    <img src="../static/images/dreamstimefree_3941618.jpg" alt="Lady putting makeup on a customer">
                    <div class="bottomright"><span>"3941618 © Gert Vrey | Dreamstime.com"</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 text-end"><u>
                    <h2>Facial</h2>
                </u></div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="relative-tag">
                    <img src="../static/images/dreamstimefree_4440166.jpg"
                        alt="Lady recieving a facial massage treatment">
                    <div class="bottomright"><span>"4440166 © Guy Shapira | Dreamstime.com"</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-end">
                <p>some text here</p>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-start"><u>
                <h2>Pedicure</h2>
            </u></div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6 text-start">
            <p>some text here</p>
        </div>
        <div class="col-sm-4">
            <div class="relative-tag">
                <img src="../static/images/dreamstimefree_17581863.jpg" alt="A photo of a pair of feet next to some flowers">
                <div class="bottomright"><span>"17581863 © Luca Santilli | Dreamstime.com"</span>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-end"><u>
                <h2>Manicure</h2>
            </u></div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="relative-tag">
                <img src="../static/images/dreamstimefree_6784029.jpg" alt="a lady recieving a manicure with nails being painted in gold">
                <div class="bottomright"><span>"6784029 © Tatjana Pilate | Dreamstime.com
                        "</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-end">
            <p>some text here</p>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>
<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 text-start"><u>
            <h2>Hair Styling</h2>
        </u></div>
    <div class="col-sm-1"></div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6 text-start">
        <p>some text here</p>
    </div>
    <div class="col-sm-4">
        <div class="relative-tag">
            <img src="../static/images/dreamstimefree_1441322.jpg" alt="photo of a lady with her make up and hair looking stunning">
            <div class="bottomright"><span>"1441322 © Iana Turnaeva | Dreamstime.com"</span>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<br>
<br>
<!--booking button-->
<div class="container_fluid">
    <div class="justify-content-center text-center ">
        <button type="button" class="btn-lg light custom-btn hvr-pulse button"><a href="{% url 'add-booking' %}">Book
                now</a>
        </button>
    </div>
</div>
<br>
<br>

{% endblock %}